/LOINC/LOINC-OCL-ETL/Input/umls-2025AA-mrconso/2025AA
LOINC/LOINC-OCL-ETL/UMLS_API_config.json
/LOINC/LOINC-OCL-ETL/Saved-output
*.RRF
/LOINC/LOINC-OCL-ETL/output-arc
/LOINC/LOINC-OCL-ETL/output-Staging-Load-30Aug25
/LOINC/LOINC-OCL-ETL/output-for-source-LOINC-2-81-on-staging
/LOINC/LOINC-OCL-ETL/output-Staging-Load-30Aug25-failed
